@import url(https://fonts.googleapis.com/css?family=Oxygen);
html {
	font-size: 100%;
	min-height: 100%; /*Avoids grey gap bellow bakground image for mobile devices*/
}

body {
	font-size: 100%;
	font-family: 'Oxygen', sans-serif;
	margin: 0rem;
	padding: 0rem;
	background-image: url("../img/index_background_4460x4460.jpg");
	background-color: rgb(50, 50, 50); 
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@media only screen and (max-height: 600px) {
    html {
    	font-size: 70%;
    }
}

@media only screen and (max-height: 400px) {
    html {
    	font-size: 60%;
    }
}

@media only screen and (max-width: 480px) {
    html {
    	font-size: 80%;
    }
    body {
    	background-image: url("../img/index_background_925x217.jpg");
    	background-position: 53% 50%;
		background-repeat: no-repeat;
		-webkit-background-size: 150% 110%;
	  	-moz-background-size: 150% 110%;
	  	-o-background-size: 150% 110%;
	  	background-size: 150% 110%;    	
    }
}

@media only screen and (max-width: 480px) and (max-height: 450px) {
    html {
    	font-size: 65%;
    }
}

header {
	border-radius: 0 0 0.5rem 0.5rem;
	background-color: rgba(100, 100, 100, 0.1); 
}

footer {
	position: absolute;
	bottom: 0;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem; 
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: rgba(200, 200, 200, 0.9);
	background-color: rgb(30, 30, 30);	
}

h1, h2 {
	margin: 0rem;
	/*padding-bottom: 0.2em;*/
	text-align: center;
}
	
h1 {
	padding-top: 0.25rem;
	font-size: 3rem; /*3rem*/
	color: rgba(50, 50, 50, 0.9);
	text-shadow: rgb(130, 130, 130, 0.9) 0.5rem 0.5rem 1rem;
}

h2 {
	margin-top: 0.5rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	color: rgba(255, 109, 0, 0.9); /*color: rgb(156, 120, 93, 0.9); rgba(160, 160, 160, 0.9);*/
	background-color: rgba(156, 120, 93, 0.08);
	text-shadow: rgb(156, 120, 93, 0.9) 0.5rem 0.5rem 1rem;
}

input {
	text-align: center;
	font-size: 2rem;
	width: 100%;
	display: block;
	outline: none;
	border: 0rem;
	margin: 0rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: rgba(128, 54, 0, 0.9);
	background-color: rgba(241, 243, 242, 0.8);/*rgb(50, 50, 50);*/
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

input:focus {
	color: rgba(241, 243, 242, 0.8);	
	background-color: rgba(156, 120, 93, 0.9);
}

/*placeholder browser compatibility.*/
::-webkit-input-placeholder {
	color: rgba(40, 40, 40, 0.9);
}

:-moz-placeholder { /*mozilla reduces opacity by default, so careful*/
	color: rgba(40, 40, 40, 0.9);
}

::-moz-placeholder {
	color: rgba(40, 40, 40, 0.9);
}

:-ms-input-placeholder {
	color: rgba(40, 40, 40, 0.9);
}

::-ms-input-placeholder {
	color: rgba(40, 40, 40, 0.9);
}


input:focus::-webkit-input-placeholder {
	color: rgba(241, 243, 242, 0.9);
}

input:focus:-moz-placeholder { /*mozilla reduces opacity by default, so careful*/
	color: rgba(241, 243, 242, 0.9);
}

input:focus::-moz-placeholder {
	color: rgba(241, 243, 242, 0.9);
}

input:focus:-ms-input-placeholder {
	color: rgba(241, 243, 242, 0.9);
}

input:focus::-ms-input-placeholder {
	color: rgba(241, 243, 242, 0.9);
}

.space-container {
	width: 100%;
	height: 25vh;
	overflow: hidden;
}

#submit-symbol-container {
	position: absolute;
	/*overflow: auto;*/
	overflow: hidden;
	/*height: 0;*/
	width: 100%;
	text-align: center;	
}

#submit-symbol {
	position: relative;
	left: 3rem;
	color: rgba(200, 200, 200, 0);
	text-shadow: rgba(48, 48, 48, 0) 0 0 0rem;
	/*background-color: rgb(50, 50, 50);	*/
	font-size: 9rem;
	transition: all 1s;
	-webkit-transition: all 1s;
}

#ctrl {
	margin-left: 0.5rem; 
	font-size: 1.5;  /*2.9rem;*/
	color: rgba(50, 50, 50, 0.9);
	text-shadow: none;
	background-color: rgba(230, 230, 230, 0.9);
	/*border: 0.025rem solid rgba(160, 160, 160, 0.9);;*/
	border-right: 0.4rem solid rgba(130, 130, 130, 0.9);
	border-bottom: 0.4rem solid rgba(180, 180, 180, 0.9);
	border-radius: 0.5rem;
}