@import 'partials/reset';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

$fs-logo: 1rem;
$fs-nav-elt: $fs-logo + 0.2rem;
$pdg-top-bottom-elt: 0.5rem;
$pdg-left-right-elt: 1rem;

// Color Schemes
$c-dark: rgba(145, 131, 117, 1);
$c-medium: rgba(194, 179, 164, 1);
$c-light: rgba(245, 229, 213, 1);
$c-highlight: rgba(231, 168, 115, 0.9);
$c-highlight-dark: rgba(211, 148, 95, 0.9);

html{
	font-family: 'Oxygen', sans-serif;
}


// Amazing Elevation Trick Using Transition + Margin: 
// Giving a -ve margin-top with transition makes it feel like as if an element is elevated (with overflow: hidden)

header{
	display: block;
	background-color: $c-highlight-dark;
	// box-sizing: border-box;
	overflow: hidden;
	// height: $fs-logo + $pdg-top-bottom-elt * 5; //
	#navbar-container{
		// height: $fs-nav-elt + 1rem;
		#navbar-content{
			list-style-type: none;
			a{
				display: inline-block;
				color: $c-light;				
				text-decoration: none;
				font-size: $fs-nav-elt;	
				padding: $pdg-top-bottom-elt $pdg-left-right-elt;
				transition: all 0.3s;
				&:hover{
					background-color: $c-highlight;					
				}
				// border-top: 0.2rem solid rgba(0,0,0,0);
				.material-icons{
					font-size: $fs-nav-elt;
				}
			}
			:not(#logo-container):not(.dropdown-container){
				a:hover{
					color: $c-dark;
					border-bottom: 0.2rem solid $c-light;
					margin-top: -0.25rem; // To compensate border-width
				}
			}
			.navbar-elt-left{
				float: left;				
			}
			.navbar-elt-right{
				float: right;
			}
		}	
	}	
}

// CSS Trick: Use opacity + height to give transitions to drop-down menus

.dropdown-container{
	a:hover{
		color: $c-dark;
		// border-bottom: 0.2rem solid $c-highlight;
		margin-top: -0.25rem;					
	}
	.dropdown-menu{
		display: none;
		list-style-type: none;
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		transition: all 0.3s;
		li{
			text-align: center;
		}
	}
	&:hover .dropdown-menu{
		display: block;
		opacity: 1;
		width: 20%;
		height: auto;
		li {
			// display: block;
			background-color: $c-highlight;
			// text-align: center;
		}
	}		
}


#content-container{
	clear: both;
}


#logo{
	// padding-top: 0.25rem;
	display: inline-block;
	font-size: $fs-logo; /*3rem*/
	color: rgba(50, 50, 50, 0.9);
	text-shadow: rgba(50, 50, 50, 0.5) 0.3rem 0.3rem 0.4rem;
	font-weight: bold;
	#ctrl {
		margin-left: 0.5rem; 
		font-size: $fs-logo;
		color: rgba(50, 50, 50, 0.9);
		text-shadow: none;
		background-color: rgba(230, 230, 230, 0.9);
		border-right: 0.3rem solid rgba(130, 130, 130, 0.9);
		border-bottom: 0.3rem solid rgba(180, 180, 180, 0.9);
		border-radius: 0.2rem;
	}	
}