<header>
	<nav id='navbar-container'>
		<ul id='navbar-content'>
			<li class="navbar-elt-left" id="logo-container"><a href="/dashboard"><span id="logo-text">Remote Sys<span id="ctrl-text">&nbsp;Ctrl&nbsp;&nbsp;&nbsp;</span></span></a></li>
			<li class="navbar-elt-left dropdown-container">
				<a class="navbar-elt-title">Servers</a>
				<ul class="dropdown-menu">
					<li><a href="/dashboard">Alpha</a></li>
					<li><a href="/dashboard">Beta</a></li>
					<li><a href="/dashboard">Gammas Dad Is Sad</a></li>					
				</ul>
			</li>
			<li class="navbar-elt-right"><a href="/dashboard">Sign Out</a></li>
			<li class="navbar-elt-right"><a href="/dashboard">Fernandez</a></li>
			<li class="navbar-elt-right icon"><a href="/dashboard"><i class="material-icons">notifications</i></a></li>
			<li class="navbar-elt-center">&nbsp;</li>
		</ul>
	</nav>
</header>