<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/dashContent.css">	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="@the.desert.eagle">
	<meta name="description" content="remote control to personal server">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">		
	<title>Remote SysCtrl</title>
</head>
<body>
	{{> dashHeader}}
<!-- 	<header>
		<h1>Remote Sys<span id="ctrl">&nbsp;Ctrl&nbsp;&nbsp;&nbsp;</span></h1>
		<h2>a mobile server controller</h2>
	</header> -->
	<section id='content-container' style='position: relative;'>
	<div style="background-color:rgba(145, 131, 117, 1); height:200px; width:100%; z-index: -2; position: absolute;"></div>
	</section>
	{{> dashFooter}}
</body>
</html>