<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/dashHeader.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="@the.desert.eagle">
	<meta name="description" content="remote control to personal server">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">		
	<title>Remote SysCtrl</title>
</head>
<body>
	{{> dashHeader}}
<!-- 	<header>
		<h1>Remote Sys<span id="ctrl">&nbsp;Ctrl&nbsp;&nbsp;&nbsp;</span></h1>
		<h2>a mobile server controller</h2>
	</header> -->
	<section>
		<div class="space-container"></div>
		<form id="login-form" action="/dashboard" method="post">
<!-- 			<div id="error-container">				
				<div id="message-container">
					<div class="round-bordered-container" id="rbc-left"></div>
					<span id="validation-error-message">this is a test</span>
					<div class="round-bordered-container" id="rbc-right"></div>	
				</div>			
			</div> -->
			<input id="username" type="text" name="username" placeholder="username" onkeyup="checkFormStatus(event)" autofocus autocomplete="off">
			<input id="password" type="password" name="password" placeholder="password" onkeyup="checkFormStatus(event)" autocomplete="off">
			<div id="submit-symbol-container"> <strong id="submit-symbol">&crarr;</strong> </div>
		</form>
		<div class="space-container"></div>
	</section>
	<footer>
	<script src="js/indexFormSubmit.js" type="text/javascript"></script> <!--Chrome Bug: Add atleast an empty <script> to avoid transitions starting on page load -->
		<p>@.the.desert.eagle</p>
	</footer>
</body>
</html>