@import 'colorScheme';
$fs-logo: 1rem;
$fs-nav-elt: $fs-logo + 0.2rem;
$pdg-top-bottom-elt: 0.5rem;
$pdg-left-right-elt: 1rem;

body{
	overflow: hidden;
}

#content-container{
	position: relative;
}

footer{
	width: 100%;
	background-color: getColor('footer');
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 0.5rem;
	ul{
		list-style-type: none;
		li{
			display: inline-block;
		}
	}
}