//Remove default margin and padding from all CSS elements, and supply responsive-design media queries
@import 'https://fonts.googleapis.com/css?family=Oxygen';


html, body, ul, ol, h1, h2, header {
	margin: 0;
	padding: 0;
}

html {
    font: {
        family: 'Oxygen', sans-serif;    
    	size: 100%;        
    }
	min-height: 100%; /*Avoids grey gap bellow bakground image for mobile devices*/
	body {
		font-size: 100%; 
	}
}

@media only screen and (max-height: 600px) {
    html {
    	font-size: 70%;
    }
}

@media only screen and (max-height: 400px) {
    html {
    	font-size: 60%;
    }
}

@media only screen and (max-width: 480px) {
    html {
    	font-size: 80%;
    }
}

@media only screen and (max-width: 480px) and (max-height: 450px) {
    html {
    	font-size: 65%;
    }
}

